# ==========================================
# KONFIGURASI PRODUCTION ENVIRONMENT KNOWHR
# ==========================================

# 1. Database PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ganti_password_db_vps_anda
POSTGRES_DB=hrd_analytics_db

# 2. Database Connection URL (Terhubung ke Shared PostgreSQL VPS Server)
DATABASE_URL=postgresql://postgres:password_vps_utama_123@host.docker.internal:5432/hrd_analytics_db

# 3. Redis Configuration
REDIS_URL=redis://redis:6379

# 4. App Security & Port
PORT=3000
JWT_SECRET=ganti_jwt_secret_rahasia_vps_anda_123456789
